<!doctype html>
<html>
<head>
        <title> Squirrel Information </title> 
</head>
<body>
<ul>
        <li>Latitude: {{detail_Latitude}}</li>
        <li>Longitude: {{detail_Longitude}}</li>
        <li>Unique_squirrel_ID: {{detail_Unique_squirrel_ID}}</li>
        <li>Hectare: {{detail_Hectare}}</li>
        <li>Shift: {{detail_Shift}}</li>
        <li>Date: {{detail_Date}}</li>
        <li>Hectare_squirrel_num: {{detail_Hectare_squirrel_num}}</li>
        <li>Age: {{detail_Age}}</li>
        <li>Primary_fur_color: {{detail_Primary_fur_color}}</li>
        <li>Location: {{detail_Location}}</li>
        <li>Specific_location: {{detail_Specific_location }}</li>
        <li>Running: {{detail_Running}}</li>
        <li>Chasing: {{detail_Chasing}}</li>
        <li>Climbing: {{detail_Climbing}}</li>
        <li>Eating: {{detail_Eating}}</li>
        <li>Foraging: {{detail_Foraging}}</li>
        <li>Other_Activities: {{detail_Other_Activities}}</li>
        <li>Kuks: {{detail_Kuks}}</li>
        <li>Quaas: {{detail_Quaas}}</li>
        <li>Moans: {{detail_Moans}}</li>
        <li>Tail_Flags: {{detail_Tail_Flags}}</li>
        <li>Tail_Twitches: {{detail_Tail_Twitches}}</li>
        <li>Approaches: {{detail_Approaches}}</li>
        <li>Indifferent: {{detail_Indifferent}}</li>
        <li>Runs_From: {{detail_Runs_From}}</li>

        <li><a href="/sightings/<int:Unique_squirrel_ID>/edit/">Upadte</a></li>
        

</ul>

</body>
</html>
